SPRING_DATASOURCE_JDBC_URL=jdbc:mysql://localhost:3307/payment_service
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

FRAUD_API_URL=http://localhost:8000/predict-fraud
FRAUD_API_SECRET_KEY=sk

STRIPE_SECRET_KEY=
STRIPE_INIT_URL=https://api.stripe.com/v1/payment_intents
STRIPE_CONFIRM_URL=https://api.stripe.com/v1/payment_intents/{id}/confirm

DB_HOST=mysql
DB_PORT=3306
DB_NAME=payment_service
DB_USER=root
DB_PASSWORD=